body {
	font-family: Helvetica, Arial, Courier;
}

h1 {
	margin-bottom: 30px;
}

section {
	padding:10px;
}

#menu-list a {
	text-align: center;
	background-color: #fffe59;
}

/* change navbar-brand hover color */
#navbar-brand {
	color: #000000;
	font-size: 1.5em;
	font-weight: 800;
}

.navbar-brand:hover{
  color: #000000;
  background-color: transparent;
}

.content {
	background-color: #ABB2B9;
	padding: 5px 10px;
}

.navbar {
	background-color: #ABB2B9;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fffe59;
}


